.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 155px;
}

.Form .inputs {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ee6055;
  font-weight: bold;
}

.Form .recipe-name {
  display: flex;
  padding: 28px 10px;
  background-color: #ee6055;
}

.Form #searchTerm {
  width: 140px;
}

.Form .range-input {
  display: flex;
  padding: 10px;
  background-color: #ee6055;
  flex-direction: column;
}

.Form .select-input {
  display: flex;
  padding: 20.3px 10px;
  background-color: #ee6055;
  flex-direction: column;
}

.Form .searchCalories {
  text-align: center;
  margin: 0;
}

.Form .searchButton {
  display: flex;
  margin: 10px;
}

.Form .actualButton {
  font-family: "Aboreto", cursive;
  background-color: #ee6055;
  border-radius: 7px;
  height: 30px;
  width: 200px;
  color: #5f5d5d;
  border: none;
  font-weight: 600;
}

.Form .actualButton:hover {
  color: white;
  background-color: #f1ab24;
}

input[type="range"] {
  overflow: hidden;
  -webkit-appearance: none;
  border-radius: 15px;
  background-color: #f1ab24;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 10px;

  -webkit-appearance: none;
  color: #13bba4;
  /* margin-top: -1px; */
}

input[type="range"]::-webkit-slider-thumb {
  width: 10px;
  -webkit-appearance: none;
  height: 10px;
  /* cursor: ew-resize; */
  background: #5f5d5d;
  box-shadow: -85px 0 0 80px #f4e87c;
  border-radius: 50%;
}
