.Main {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #addb73;
}

.Main ul {
  margin: 0px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  list-style: none;
}

.Main food {
  display: flex;
}

.Main li {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
  width: 430px;
  border-radius: 30px;
}
