.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4e87c;
}

.Result li {
  display: flex;
  flex-direction: column;
}

.Result .imgTitle {
  text-decoration: none;
  font-family: "Aboreto", cursive;
  color: #5f5d5d;
}

.Result .fav {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #5f5d5d;
  background-color: #f1ab24;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

.Result .heart {
  color: black;
  margin-left: 5px;
}

.Result .removeHeart {
  color: red;
}

.Result .ResultImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
}

.Result p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
}
