.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* background-color: #f4e87c; */
  background: linear-gradient(127deg, #f4e97c, #ffcd84f5, #ffc700, #f4e97c);
}

.Result li {
  display: flex;
  flex-direction: column;
}

.Result .imgTitle {
  text-decoration: none;
  font-family: "Aboreto", cursive;
  color: #5f5d5d;
}

.Result .fav {
  display: flex;
  justify-content: center;
  width: 50%;
  color: #5f5d5d;
  background-color: #f1ab24;
  margin-bottom: 10px;
  border: none;
  border-radius: 20px;
}

.Result .fav:hover {
  background: linear-gradient(127deg, #ee6055, #ee6055, #f1ab24, #ee6055);
  color: white;
}

.Result .fav:active {
  transform: translateY(4px);
}

.Result .heart {
  color: black;
  margin-left: 5px;
}

.Result .removeHeart {
  color: red;
}

.Result .ResultImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
}

.Result p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
  font-weight: 600;
}
