.Result {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f4e87c;
}

.Result li {
  display: flex;
  flex-direction: column;
}
.Result li Link p {
  text-decoration: none;
}

.Result .fav {
  display: flex;
  justify-content: center;
  width: 50%;
  color: red;
  background-color: black;
}

.Result .ResultImg {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  width: 300px;
}

.Result p {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 300px;
}
